<div class="jumbotron">
  <h1><i class="fa fa-paperclip" aria-hidden="true"></i>ClipManager</h1>
  <p>Sed sagittis iaculis sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque interdum, mauris et faucibus vehicula, erat urna malesuada dolor, posuere maximus justo eros id eros</p>
  <p>
<%= link_to "Sign up", new_user_registration_path, class:"btn btn-primary btn-lg" %>
</div>